#video-container{
    height: 80vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;

}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}